<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<!--wrapper-->
<div class ="wrapper">
    <nav class="navbar">
        <img class="logo" src="logo.png">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Cal.HTML">calendar</a></li>
            <li><a href="notepad.html">notes</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>       
    </nav>
</div>

<!--notes-->
<div id="app">
<form></form>
    <div class="container">
        <p>
        <label for="title"><b>title</b></label>
        <!--this line usses v-model, to store locally the input of the user-->
        <input v-model="title" type="text" placeholder="title" required>
    
        <label for="note">Write your notes here:</label>
        <!--this line usses v-model, to store locally the content of what is written in the note-->
        <br><textarea v-model="note" id="note" name="note"rows="20" cols="165"></textarea>
        </p>
        <p>
          <!--onclick to save locally (can be show in console)-->
          <button @click="persist">Save</button>
        </p>
        
      </div>
  </div>
  <script src="notes.js"></script>
</body>
</html>